*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
	font-family: "Trebuchet MS";
	background: #F3F3F3 ;
}
#Cabecalho{
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
	height: 45px;
	width: 100%;
	position: fixed;
	top: 0px;
}
#Area{
	padding-top: 10px;
	margin: 0 auto;
	width: 720px;
}
.verde{
	color: green;	
}
#Logo{
	float: left;
}
.Navegacao{
	float: right;
	padding-top: 10px;
}
a{
	padding: 5px 10px;
	text-decoration: none;
}
a:hover{
	color: #FFF;
	background: green;
}
#Conteudo{
	width: 720px;
	margin: 55px auto 15px auto;
}
.Post{
	background: #FFF;
	margin-bottom: 10px;

}
.Data{
	font-size: 14px;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.foto{
	float: left;
	margin: 0px 10px 10px 0px;
}
.autor{
	border-left: 5px solid #d8d8d8;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
}
h2{
	color: green;
}